<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <title>Document</title>
</head>
<body>
  <main>
    <article>
      <h2>Examples</h2>
      <p><a href="/sample/welcome">welcome</a></p>
      <p><a href="/sample/welcome-scf">welcome SCF</a></p>
      <p><a href="/sample/fib/30">fib</a></p>
      <p><a href="/sample/with-style">with style</a></p>
      <p><a href="/sample/with-script">with script</a></p>
      <p><a href="/sample/babylon-js">Babylon.js</a></p>
      <p><a href="/sample/api">API sample</a></p>
      <p><a href="/sample/custom-headers">with Custom Headers</a></p>
      <p><a href="/sample/dd">dd</a></p>
      <p><a href="/sample/error/1">error page</a></p>
      <p><a href="/sample/error-redirect/1">error redirect</a></p>
      <p><a href="/sample/error-redirect/2">error not redirect</a></p>
      <p><a href="/sample/cookie">cookie</a></p>
      <p><a href="/sample/login">login</a></p>
      <p><a href="/sample/flash">flash message</a></p>
      <p><a href="/sample/file-upload">file upload</a></p>
      <p><a href="/sample/validation">validation</a></p>
      <p><a href="/sample/web-socket">web socket</a></p>
    </article>
    <article>
      <h2>Benchmark</h2>
      <p><a href="/benchmark/plaintext">plaintext</a></p>
      <p><a href="/benchmark/json">json</a></p>
      <p><a href="/benchmark/db">db</a></p>
      <p><a href="/benchmark/queries?queries=100">queries</a></p>
      <p><a href="/benchmark/fortunes?queries=100">fortunes</a></p>
      <p><a href="/benchmark/updates?queries=100">updates</a></p>
      <p><a href="/benchmark/cached-queries?count=100">cached-queries</a></p>
    </article>
  </main>
</body>
</html>
