# Secret
SECRET_KEY=""

# DB Connection
DB_URL="postgresql://user:pass@database:5432/database"
DB_MAX_CONNECTION=95 # should be smaller than (DB max connection / running num processes)
DB_TIMEOUT=30 # secounds

# Logging
LOG_IS_DISPLAY=true # true or false
LOG_IS_FILE=true # true or false
LOG_IS_ERROR_FILE=true # true or false
LOG_DIR="/root/project/src/logs"

# Session db
# Session type, file or redis, is defined in config.nims
SESSION_DB_PATH="/root/project/src/session.db" # Session file path or redis host:port. ex:"127.0.0.1:6379"
SESSION_TIME=120 # minutes of 2 hours
SESSION_EXPIRE_ON_CLOSE=true # If you want remove session immediately expire on the browser closing, set true
COOKIE_DOMAINS="" # to specify multiple domains, "sample.com, sample.org"

LOCALE=en
